.container {
    background: #263238;
}

.list-server {
    width: 30%;
    height: calc(100vh - 64px);
    overflow: scroll;
    overflow-x: hidden;
}

.item {
    width: 100%;
    color: white;
}

.right-side {
    width: 100%;
}

.home-img {
    width: 100%;
    height: 450px;
    background-image: url("../../../assets/images/background.jpg");
}

.create-room {
    margin-top: 2%;
    background-color: white;
    padding: 4px 16px;
    border-radius: 5px;
}

.onboarding {
  background: #263238;
  height: calc(100vh - 64px);
  overflow-x: hidden;
}

.onboarding-username-div {
  width:40%;
  height:20%;
  background: white;
  border-radius:10px;
}
