<div class="container" fxLayout="row" *ngIf="username">
    <img src="../../../../assets/images/background.jpg" alt="Blackjack table">
    <div class="sub_container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <div class="title_bar" fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <h1 class="title">Blackjack </h1>
                <app-rules></app-rules>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="s-icon p-{{icon}}" [matMenuTriggerFor]="menu"></div>
                <mat-menu #menu="matMenu">
                    <div mat-menu-item fxLayoutAlign="center">{{ username }}</div>
                    <button mat-menu-item (click)="disconnect()">
                        <mat-icon>exit_to_app</mat-icon> Quitter
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="w100 body_container">
            <div class="list_server" *ngIf="listTables">
                <mat-list role="list">
                    <mat-list-item>
                        <button class="item" mat-button
                            (click)="createTable = !createTable">{{ createTable? 'Annuler' : 'Créer' }}</button>
                        <mat-divider [inset]="true" color="primary" class="divider"></mat-divider>
                    </mat-list-item>

                    <mat-list-item role="listitem" *ngFor="let table of listTables; let i of index">
                        <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
                            <div>{{ table.name }}</div>
                            <button mat-button (click)="joinTable(table)">
                                Rejoindre
                            </button>
                        </div>
                        <mat-divider [inset]="true" color="primary" class="divider"></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
            <!-- Create new Table -->
            <div fxLayout="column" fxLayoutAlign="center center" class="create-room" *ngIf="createTable">
                <form [formGroup]="formNewTable" fxLayout="column">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Nom" formControlName="roomName"
                            (keyUp.enter)="onCreateRoom()">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mot de passe</mat-label>
                        <input matInput placeholder="Mot de passe" formControlName="password"
                            (keyUp.enter)="onCreateRoom()">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Difficulté</mat-label>
                        <mat-select placeholder="Difficulté" formControlName="difficulty">
                          <mat-option [value]="1">1 paquet</mat-option>
                          <mat-option [value]="2">2 paquets</mat-option>
                          <mat-option [value]="4">4 paquets</mat-option>
                          <mat-option [value]="8">8 paquets</mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
                <div fxLayout="row" fxLayoutAlign="space-around">
                    <button mat-raised-button color="primary" (click)="onCreateRoom()"
                        [disabled]="formNewTable.invalid">Créer</button>
                    <button mat-raised-button (click)="createTable = !createTable">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>