<div *ngIf="init">
    <mat-toolbar color="primary" >
        <mat-toolbar-row>
          <span>Black Jack - Table : {{ table.name }}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around" *ngIf="showTable">
      <div fxLayout="column" fxFlex="25" >
        <div *ngFor="let user of table.users" class="other-player" fxLayout="column" fxLayoutAlign="stretch">
          <div class="other-header" fxLayoutAlign="space-between">
            <div>{{ user.name }}</div>
            <!-- <div *ngIf="isAdmin">
                <mat-icon>remove</mat-icon>
            </div> -->
          </div>
          <div class="other-card-area">

          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="66">
        <div class="bank-area"></div>
        <div class="player-area" fxlayout="column">
          <div class="player-card-area">

          </div>
          <div class="player-action-area">
            
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!showTable">
      <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutAlign="center" class="lobby-user">
          <div>{{ player.name }}</div>
        </div>
        <div *ngFor="let user of table.users" fxLayout="column" fxLayoutAlign="center" class="lobby-user">
            <div>{{ user.name }}</div>
            <div *ngIf="isAdmin">
                <button (click)="onRemovePlayer()">Exclure</button>
            </div>
        </div>
        
      </div>
      <br>
      <button *ngIf="isAdmin" (click)="onStartGame()">Commencer</button>
      <button (click)="onLeaveTable()">Quitter</button>
    </div>
   
</div>
<!-- <button (click)="trigger()">trigger</button> -->