<div *ngIf="init">
    <mat-toolbar color="primary" >
        <mat-toolbar-row>
          <span>Black Jack - Table : {{ table.name }}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around" *ngIf="showTable">
      <div fxLayout="column" fxFlex="25" >
        <div *ngFor="let user of table.users" class="other-player" fxLayout="column" fxLayoutAlign="stretch">
          <div class="other-header" fxLayoutAlign="space-between">
            <div>{{ user.name }}</div>
          </div>
          <div class="other-card-area"  fxlayout="row" fxLayoutAlign="center center">
              <div class="other-card"
              *ngFor="let card of user.hand"
              style="background-image: url(../../../assets/images/cards/{{card.name}}.jpg);"
              fxlayout="row">
              </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="66">
        <div class="bank-area"></div>
        <div class="player-area" fxlayout="column">
          <div class="player-card-area" fxlayout="row" fxLayoutAlign="center center">
            <div class="player-card"
            *ngFor="let card of player.hand"
            style="background-image: url(../../../assets/images/cards/{{card.name}}.jpg);"
            fxlayout="row">
              <!-- {{card.name}} -->
            </div>
          </div>
          <div class="player-action-area" fxLayout="row">
            <button (click)="drawCard()">Piocher</button>
            <button>Doubler</button>
            <button>Fin de tour</button>
            <button (click)="onLeaveTable()">Quitter</button>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!showTable">
      <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutAlign="space-between" class="lobby-user">
          <div></div>
          <div  fxLayoutAlign="center">
            <mat-icon (click)="onRemovePlayer()" color="primary">person</mat-icon>
          </div>
          <div fxLayoutAlign="center">{{ player.name }}</div>
        </div>
        <div *ngFor="let user of table.users" fxLayout="column" fxLayoutAlign="space-between" class="lobby-user">
            <div class="lobby-user-header" fxLayout="row" fxLayoutAlign="end">
              <mat-icon *ngIf="isAdmin" (click)="onRemovePlayer()" color="primary">close</mat-icon>
            </div>
            <div  fxLayoutAlign="center">
              <mat-icon (click)="onRemovePlayer()" color="primary">person</mat-icon>
            </div>
            <div fxLayoutAlign="center">{{ user.name }}</div>
        </div>
        
      </div>
      <br>
      <button *ngIf="isAdmin" (click)="onStartGame()">Commencer</button>
      <button (click)="onLeaveTable()">Quitter</button>
    </div>
   
</div>
<!-- <button (click)="trigger()">trigger</button> -->