<div *ngIf="init">
    <mat-toolbar color="primary" >
        <mat-toolbar-row style="height: 32px;" fxLayoutAlign="space-between center">
          <span>Black Jack - Table : {{ table.name }}</span>
          <button mat-button (click)="onLeaveTable()">Quitter</button>
        </mat-toolbar-row>
        <mat-toolbar-row style="background-color: white; color: black; height: auto; height: 32px;" fxLayoutAlign="center center">
          <span>{{ message }}</span>
        </mat-toolbar-row><mat-toolbar-row style="background-color: white; height: 4px;" fxLayoutAlign="center center">
          <div #timerBar style="background-color: red; height: 4px;"></div>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <!-- Table -->
    <div fxLayout="row" fxLayoutAlign="space-around" *ngIf="showTable">
      <div class="left_side" fxLayout="column">
        <div class="other_player_list">
          <div class="other_player" [style.height.%]="100 / table.players.length" *ngFor="let player of table.players" fxLayout="row" [ngClass]="{'hisTurn': player.id === table.currentPlayer}">
            <div fxLayout="column" fxLayoutAlign="space-between" class="other_player_area">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="other_player_name">
                <div class="s-icon p-{{player.icon}}"></div>
                <div>{{ player.name }}</div>
              </div>
              <div fxlayout="row" fxLayoutAlign="center center">
                <img class="other_card" *ngFor="let card of player.hand" src="../../../../assets/images/cards/{{card.name}}.jpg" >
              </div>
              <div fxLayout="row" fxLayoutAlign="space-around">
                <div>Mise: {{player.currentBet}}</div>
                <div>Score: {{player.score}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right_side" fxLayout="column">
        <div class="bank-area" fxlayout="row" fxLayoutAlign="center center">
          <div *ngFor="let card of table.bank.hand">
            <img class="bank_card" *ngIf="card.visible" src="../../../../assets/images/cards/{{card.name}}.jpg">
            <img class="bank_card" *ngIf="!card.visible" src="../../../../assets/images/cards/blue_back.jpg">
          </div>
        </div>
        <div *ngIf="!showBet" class="player-area" fxlayout="column">
          <div class="player-card-area" fxlayout="row" fxLayoutAlign="center center">
            <img class="player-card" *ngFor="let card of player.hand" src="../../../../assets/images/cards/{{card.name}}.jpg">
          </div>

          <div fxlayout="row" fxLayoutAlign="space-around center">
            <h2>Credits: {{player.credits}}$</h2>
            <h2>Mise: {{player.currentBet}}$</h2>
            <h2>Score: {{player.score}}</h2>
          </div>

          <div class="player_action_area" fxLayout="row" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="drawCard()" [disabled]="!enableDrawBtn">Piocher</button>
            <button mat-raised-button color="warn" (click)="doubleBet()" [disabled]="!enableDoubleBtn">Doubler</button>
            <button mat-raised-button (click)="endRound()" [disabled]="!enableEndTurn">Fin de tour</button>
          </div>
        </div>
        <div *ngIf="showBet" class="player-area" fxLayout="column">
          <div class="player-bet-area" fxlayout="row" fxLayoutAlign="center center">
            <div class="player-bet-div " fxLayout="column" fxLayoutAlign="center center">
              Credits: {{player.credits}}
              <form class="example-form">
                  <mat-form-field class="example-full-width">
                      <mat-label>Mise</mat-label>
                      <input matInput type="number" placeholder="50" autocomplete='off' (keypress)="inputBetValidator($event)"
                          (keyUp.enter)="sendBet()" [(ngModel)] ='betAmount' name="betInput">
                      <span matSuffix>€</span>
                  </mat-form-field>
              </form>
              <button [disabled]="betAmount <= 0 || betAmount > player.credits" mat-raised-button color="primary" (click)="sendBet()">Valider la mise</button>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Lobby -->
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!showTable">
      <div fxLayout="row" fxLayoutAlign="space-around" style="width: 80%;">
        <div class="table_config">
          <h1>{{ table.name }}</h1>
          <p>Difficulté: {{ getDifficulty() }}</p>
          <p>password : {{ table.password }}</p>
        </div>
        <div class="usercontainer">
          <div fxLayout="row" fxLayoutAlign="space-around center" class="lobby-player">
            <div class="s-icon p-{{player.icon}}"></div>
            <div>{{ player.name }}</div>
          </div>
          <div *ngFor="let player of table.players" fxLayout="row"
          fxLayoutAlign="space-around center" class="lobby-player">
            <div class="s-icon p-{{player.icon}}" ></div>
            <div>{{ player.name }}</div>
            <mat-icon *ngIf="isAdmin"
            fxLayoutAlign="end"
            (click)="onRemovePlayer(player.id)"
            style="cursor: pointer;"
            color="primary">close</mat-icon>
          </div>
        </div>

      </div>
      <br>
      <button mat-raised-button *ngIf="isAdmin" (click)="onStartGame()">Commencer</button>
    </div>

</div>
